<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say something. Now.
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <%= render 'chatroom/feed' %>
  </div>
  
  <div class="four wide column">
    <%= render 'chatroom/rightbar' %>
  </div>
</div>


